/* Global Variables
   ============================= */

   :root {
    --color-primary: #FF6565;
    --color-black:  #071629;
    --color-white: #ffffff;
    --color-background: #071629;
  
    --text-color: var(--color-black);
  
    --font-family-base: 'Source Sans Pro';
  
    --font-size-xx-small: 0.75rem;
    --font-size-x-small: 0.875rem;
    --font-size-small: 1rem;
    --font-size-medium: 1.125rem;
    --font-size-large: 1.25rem;
    --font-size-x-large: 2rem;
    --font-size-xx-large: 2.875rem;
  
    --font-weight-regular: 400;
    --font-weight-bold: 600;
    --font-weight-x-bold: 700;
  
    --line-height-base: normal;
    --line-height-adjusted: 1.625rem;
  }

 /* Global Targets
  ============================= */

  html * {
    font-family: var(--font-family-base);
  }

  * {
    text-decoration: none;
    margin: 0;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .logo {
    width: 10.125rem;
    height: 2rem;
  }

  h1 {
    font-size: var(--font-size-xx-large);
  }

  h2 {
    font-size: var(--font-size-x-large);
  }

  h3 {
    font-size: var(--font-size-large);
  }

  .white-text {
    color: var(--color-white);
  }

  .black-text {
    color: var(--color-black);
  }

  .action-button {
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: 1.375rem;
    width: 10.125rem;
    height: 2.75rem;
    font-size: var(--font-size-x-small);
    font-weight: var(--font-weight-x-bold);
    line-height: var(--line-height-base);
    text-align: center;
    border: none;
  }

  .uppercase {
    text-transform: uppercase;
  }

  body {
    background: url("./images/headphones_hero_1.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-background);
  }

/* Task 0 - Header and Navbar
  ============================= */

  header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    margin: 1.81rem;
  }

  @media only screen and (min-width: 481px) {
    .navbar {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  }

  @media only screen and (min-width: 999px) {
    .navbar {
      align-items: center;
      justify-content: space-between;
      gap: 20rem;
    }
  }

  .nav-responsive {
    display: flex;
    align-items: center;
  }

  .nav-toggle-checkbox {
    display: none;
  }

  .bar-large, .bar-small {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-white);
  }

  .bar-small {
    width: 15px;
  }

  .bottom-bar {
    margin-bottom: 0; /* Remove margin from the last bar to prevent extra spacing */
  }

  @media only screen and (min-width: 481px) {
    .bar-large, .bar-small, .hamburger {
      display: none; 
    }
  }

  .header-logo {
    margin-left: 5rem;
    margin-right: 8rem;
  }

  .nav-bar img {
    padding-right: 6.69rem;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu:target {
    display: block;
  }

  @media only screen and (min-width: 481px) {
    .nav-menu {
      display: block;
    }
  }

  .nav-menu li {
    margin-top: 2rem;
  }

  @media only screen and (min-width: 481px) {
    .nav-menu li {
      margin-top: 0;
    }
  }

  .nav-bar-hide {
    display: none;
  }

  @media only screen and (min-width: 481px) {
    .nav-menu-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 2.56rem;
    }
  }

  .nav-item {
    list-style: none;
  }

  .title { 
    padding-top: 20.44rem;
  }

  @media only screen and (min-width: 481px) {
    .title {
      padding-top: 23.25rem;
    }
  }

  .slogan {
    font-weight: var(--font-weight-x-bold);
    font-size: var(--font-size-small);
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .description {
    padding-bottom: 6.63rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-small);
    line-height: var(--line-height-adjusted);
  }

  @media only screen and (min-width: 481px) {
    .description {
      padding-left: 4.13rem;
      padding-right: 4.13rem;
    }
  }

  @media only screen and (min-width: 999px) {
    .description {
      padding-left: 21rem;
      padding-right: 21rem;
    }
  }

  .banner-button {
    margin-bottom: 4.06rem;
    margin-top: 1.25rem;
  }

  @media only screen and (min-width: 481px) {
    .banner-button {
      margin-top: 2.5rem;
    }
  }


/* Task 1 - What We Do
  ============================= */

  .what-we-do-section {
    background-color: var(--color-white);
  }

  .what-we-do-content {
    padding-bottom: 6.87rem;
  }

  .what-we-do-content h2 {
    padding-top: 6.87rem;
  }

  .what-we-do {
    padding-top: 2.5rem;
    padding-left: 1.56rem;
    padding-right: 1.56rem;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-adjusted);
    font-size: var(--font-size-small);
  }

  @media only screen and (min-width: 481px) {
    .what-we-do {
      padding-left: 4.13rem;
      padding-right: 4.13rem;
    }
  }

  @media only screen and (min-width: 999px) {
    .what-we-do {
      padding-left: 23rem;
      padding-right: 23rem;
    }
  }

  .services {
    padding-top: 6.88rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
  }

  @media only screen and (min-width: 481px) {
    .services {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  @media only screen and (min-width: 999px) {
    .services {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding-left: 12rem;
      padding-right: 12rem;
    }
  }

  .service {
    width: 12.9375rem;
  }

  .service img {
    padding-bottom: 1.48rem;
  }

  .service p {
    line-height: var(--line-height-adjusted);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-x-small);
  }

/* Task 2 - Results
  ============================= */

  .our-results-section {
    background-image: url("./images/headphones_hero_2.jpg");
    background-size: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .our-results-content {
    padding-top: 7.81rem;
  }

  .results-text {
    margin-bottom: 4.81rem;
    margin-top: 2.88rem;
    margin-left: 2.2rem;
    margin-right: 2.2rem;
  }

  @media only screen and (min-width: 481px) {
    .results-text {
      padding-left: 4.13rem;
      padding-right: 4.13rem;
    }
  }

  @media only screen and (min-width: 999px) {
    .results-text {
      padding-left: 23rem;
      padding-right: 23rem;
    }
  }

  .results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding-bottom: 3.5rem;
  }

  @media only screen and (min-width: 481px) {
    .results {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-left: 9.75rem;
      padding-right: 9.75rem;
    }
  }

  @media only screen and (min-width: 999px) {
    .results {
      padding-bottom: 5rem;
    }
  }

  .result {
    display: flex;
  }

  .result img {
    width: 11.875rem;
    height: 11.875rem;
  }

  .result-math {
    margin-top: 3.5rem;
    margin-left: -10rem;
  }

  .result-math h1 {
    font-size: var(--font-size-xx-large);
  }

  .result-math p {
    margin-top: 1.05rem;
  }

/* Task 3 - Contact Us
  ============================= */

  .contact-us-section {
    background-color: var(--color-white);
  }

  .contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (min-width: 481px) {
    .contact-us {
      align-items: center;
    }
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.81rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    height: 18.69rem;
    width: 21rem;
  }

  .form-input {
    display: flex;
    flex-direction: column;
  }

  .contact-us h2 {
    margin-top: 6.88rem;
    margin-bottom: 3.5rem;
  }

  .contact-form label {
    text-align: left;
  }

  .contact-form input {
    background: transparent;
    border: none;
    border-bottom: 0.0625rem solid var(--color-black);
  }

  .contact-us button {
    margin-top: 3.5rem;
    margin-bottom: 8.13rem;
  }

/* Task 4 - Footer
  ============================= */

  .footer-logo-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 3.15rem;
  }

  @media only screen and (min-width: 481px) {
    .footer-logo-socials {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding-left: 3.125rem;
      padding-right: 3.125rem;
      padding-top: 5.75rem;
    }
  }

  @media only screen and (min-width: 999px) {
    .footer-logo-socials {
      padding-left: 12.5rem;
      padding-right: 12.5rem;
    }
  }

  .footer-logo {
    margin-top: 3rem;
  }

  @media only screen and (min-width: 481px) {
    .footer-logo {
      margin-top: 0;
    }
  }

  .footer-social-media {
    width: 8.125rem;
    height: 1.875rem;
    display: flex;
    justify-content: space-between;
  }

  .watermark {
    opacity: 0.3517;
    margin-top: 2.81rem;
    padding-bottom: 2.12rem;
  }
