/* Task 2 - Header & Banner */

body {
	width: 100vw;
  height: 100vh;
  min-width: 1440px;
  background: url("public/images/coverimage.png");
  background-size: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  background-color: #071629;
  overflow-x: hidden;
  margin: auto;
}

header {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  gap: 30rem;
  width: 100%;
  height: 6.3rem;
}

.header img {
	max-width: 100%;
	height: auto;
  justify-content: center;
}

.link-block {
  display: flex;
  justify-content: space-between;
  gap: 3.25rem;
}

.link-block a {
  text-decoration: none;
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: normal;
}

.banner-and-pros {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bruce-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom:10.5rem;
}

.bruce-banner h1 {
  text-align: center;
	font-size: 7.50rem;
  color: #FFF;
  font-family: 'Source Sans 3', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 8rem;
  margin: 0;
}

.bruce-banner p {
  text-align: center;
  width: 16rem;
  display: flex;
  justify-content: space-between;
	color: #FFFFFF;
  font-family: Source Sans Pro;
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
  margin-top: -0.5rem;
  padding-bottom: 1.5rem;
}

.bruce-banner button, .membershipsection button {
	background: #C271FF;
  color: #FFF;
  border-radius: 1.375rem;
  width: 10.25rem;
  height: 2.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.problocks {
  display: flex;
  flex-flow: column;
}

.problocks h2 {
  color: #FFF;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.problocks span {
  color: #C271FF;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.problockrow {
  display: flex;
  justify-content: space-between;
  margin-left: 13.75rem;
  margin-right: 13.75rem;
}

.problock {
  display: flex;
  flex-direction: column;
  gap: .12rem;
}

.problock img {
  margin-top: 5.4rem;
  margin-bottom: .5rem;
  max-width: 9.375rem;
  height: auto;
  border-radius: 50%;
}

.problock h3 {
  color: #FFF;
  font-family: Source Sans Pro;
  text-align: center;
  font-size: 18px; 
  font-weight: 900;
  line-height: 27px;
  letter-spacing: 0px;
  margin: 0;
}

.problock p {
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1rem;
  text-align: center;
  padding-bottom: 6.12rem;
}

/* Task 3 - Quotes */

.quotesection {
  background-color: #C271FF;
  height: 24.5rem;
  margin: -1.75rem;
}

.quoteblock {
	display: flex;
	justify-content: center;
  padding: 6.87rem;
}

.quoteblock img {
  border-radius: 50%;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: left; 
  color: #FFF;
}

.quote blockquote {
  margin-bottom: 1.37rem;
}

.quote p {
  padding-left: 2.3rem;
  text-align: left;
  margin: .15rem;
}

/* Task 4 - Tutorials */

.tutorialsection {
  background-color: #FFF;
}

.tutorialsection h2 {
  padding-top: 5.44rem;
  font-family: Source Sans Pro;
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: center;
}

.tutorialsection span {
  color: #C271FF;
  font-family: Source Sans Pro;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.videoblock {
  display: flex;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3.5rem;
  padding-bottom: 5.4rem;
}

.video {
  width: 15.9375rem;
  height: 20.9375rem;
  background-color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  margin-bottom: 5.4rem;
  display: flex;
  flex-direction: column;
}

.video img {
  border-radius: 0.3125rem;
}

.video h3 {
  color: #071629;
  font-family: Source Sans Pro;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 0.81rem;
}

.video p {
  color: rgba(7, 22, 41, 0.50);
  font-family: Source Sans Pro;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  text-wrap: wrap;
  padding-left: 0.81rem;
  margin-top: -0.25rem;
}

.authorinfo {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: -0.8rem;
}

.authorinfo img {
  border-radius: 50%;
  max-width: 30px;
  height: 30px;
  padding: 0.81rem;
}

.authorinfo h4 {
  color: #C271FF;
  font-size: 14px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}

.stars {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
}

.videoinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.81rem;
}

.videoinfo p {
  color: #C271FF;
  font-family: Source Sans Pro;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6875rem;
}

/* Task 5 - Membership */

.membershipsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 31.75rem;
}

.membershipsection h2 {
  text-align: center;
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.membershipsection span {
  color: #C271FF;
  font-family: Source Sans Pro;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.memberships {
  display: flex;
  justify-content: space-evenly;
  gap: 4.2rem;
}

.membershipcategory {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.membershipcategory img{
  width: 2.72913rem;
  height: 2.20956rem;
  flex-shrink: 0;
}

.membershipcategory h3 {
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.625rem;
}

.membershipcategory p {
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  text-wrap: wrap;
  text-align: center;
  width: 13.25rem;
  margin: -0.2rem;
}

/* membership button shared with bruce-banner button */

/* Task 6 - FAQ */

.FAQsection {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.FAQsection h2 {
  color: #071629;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.FAQrow1, .FAQrow2{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 4.5rem;
}

.FAQ h3 {
  color: #071629;
  font-family: Source Sans Pro;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.FAQ p {
  color: rgba(7, 22, 41, 0.50);
  font-family: Source Sans Pro;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  width: 21.875rem;
}

/* Task 7 - Footer */

footer {
  height: 15.5625rem;
}

.footerdetails {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 1.5rem;
  background-color: #071629;
}

.logoandsocials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.logoandsocials img {
  margin-top: 2.5rem;
}

.socialblock {
  width: 8.125rem;
  display: flex;
  justify-content: space-between;
}

.footerdetails p {
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}